{% extends 'base.html' %}

{% block header %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/styles_reservation.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Rezerwacja</title>
{% endblock %}

{% block content %}
    <br>
    <div class="calendar-container">
        <h1>Rezerwacja pola</h1>
        <h2>Wybierz </h2>

        <form method="POST" action="{% url 'reserve_action' %}">
            {% csrf_token %}

            <label for="reservation-date">Wybierz datę:</label>
            <input type="date" id="reservation-date" name="reservation_date" required min="{{ min_date }}">

            <label for="reservation-time">Wybierz godzinę:</label>
            <select id="reservation-time" name="reservation_time" required>
                {% for time in available_times %}
                <option value="{{ time }}">{{ time }}</option>
                {% endfor %}
            </select>

            <label for="-select">Wybierz liczbę osób:</label>
            <select id="people-select" name="num_people" required>
                {% for i in range_10x %}
                    <option value="{{ i }}" {% if i == adults %}selected{% endif %}>{{ i }}</option>
                {% endfor %}
            </select>

            <button type="submit">Zarezerwuj</button>
        </form>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const dateInput = document.getElementById("reservation-date");
            const today = new Date("{{ today }}");
            const limit = new Date("{{ min_date }}");

            // Wyróżnianie nieaktywnych dat
            dateInput.addEventListener("input", function () {
                const selectedDate = new Date(this.value);
                if (selectedDate < limit) {
                    this.style.border = "2px solid red";
                } else {
                    this.style.border = "";
                }
            });
        });
    </script>
    
{% endblock %}